<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render "users/info", user: @user %>
      <%= render "layouts/errors", obj: @book %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @newbook %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to user_path (@user.id) do %>
            <% if @user.profile_image.attached? %>
             <%= image_tag @user.profile_image,size: "100x100" %>
            <% else %>
             <%= image_tag 'no_image', size: "100x100" %>
            <% end %>
          <% end %>

          <br><%= link_to @user.name, user_path(@user) %>
          </td>

          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>

          <% if @user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"%></td>
            <% end %>

             <% if @book.favorited_by?(current_user) %>
            <p>
              <%= link_to book_favorites_path(@book), method: :delete do %>
              <i class="fa fa-heart" aria-hidden="true" style="color: pink;"></i>
              <%= @book.favorites.count %>
            </p>
              <% end %>
            <% else %>
            <p>
              <%= link_to book_favorites_path(@book), method: :post do %>
               <i class="fa fa-heart-o" aria-hidden="true"></i>
               <%= @book.favorites.count %>
            </p>
              <% end %>
          <% end %>
          <div>
            <p>コメント件数：<%= @book.book_comments.count %></p>
            <% @book.book_comments.each do |book_comment| %>
            <%= link_to attachment_image_tag(book_comment.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg"), user_path(book_comment.user) %> <br>
						<%= book_comment.user.name %>
  					</td>
  					<td>
  						<%= book_comment.comment %>
  					</td>
  					<td>
            <% if book_comment.user_id == current_user.id %>
						<%= link_to "Delete", book_book_comment_path(@book,book_comment.id), method: :delete, class: "btn-sm btn-danger" %>
						<% end %>
				  	</td>
				    </tr>
				  	<% end %>
            <%= form_with model: [@book, @book_comment] do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
              <%= f.submit "送信する" %>
            <% end %>
          </div>
        </tr>
      </table>
    </div>
  </div>
</div>